<%- include("dashboard") -%>
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
  }

  #sign-form {
    width: 50%;
    height: 100%;
    margin: 10vh auto;
    /* background-color: brown; */
    padding: 5%;
  }

  label:not(label:first-of-type, label.che) {
    display: block;
    margin: 15px 0 5px 0;
    font-size: 14px;
  }

  .sentence-agree {
    display: inline;
    font-size: 14px;
  }

  #submit {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 20px;
    background-color: #333399 !important;
    color: #fff !important;
    font-size: 1rem;
    cursor: pointer;
  }

  #submit:hover {
    background-color: #23236a !important;
  }

  div.hr-left,
  div.hr-right {
    width: 30%;
    height: 1px;
    background-color: #cccccc;
  }

  p.guide-google {
    font-size: 14px;
    color: #cccccc;
    width: 40%;
    margin: auto 5px;
  }

  input:not(input#terms-agree, input.same) {
    background-color: #fff;
    width: 100%;
    height: 45px;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    color: #333399;
  }

  input:focus {
    outline: 1px solid #333399;
  }

  .google-sign-btn {
    width: 100%;
    height: 45px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    outline: none;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }

  .google-sign-btn:hover {
    background-color: #cccccc;
  }

  i.fa-google {
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;
    color: #333399;
  }

  .form-caption {
    color: #737373;
    margin-bottom: 30px;
  }

  .star-required {
    color: #333399;
  }

  input[type='checkbox'] {
    width: 10%;
    margin: 1px 0 1px 0;
    accent-color: #333399;
  }

  a {
    color: #333399;
    text-decoration: none;
    font-size: 14px;
  }

  a:hover {
    color: #23236a;
  }

  .have-account-line {
    margin: 30px 0 30px 0;
    font-size: 14px;
  }

  .info {
    color: #737373;
    font-size: 14px;
  }

  .google-guide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }
  .same {
    height: 18px;
  }
</style>

<body>
  <div class="container my-0" id="EditDtaa">
    <form
      class="sign-form my-0"
      id="sign-form"
      autocomplete="on"
      onsubmit="return submitForm(event, this)"
    >
      <h1 class="form-title">Add-Role</h1>

      <br />

      <label class="my-2" for="username"
        >Role-Name<span class="star-required">*</span></label
      >
      <input
        type="text"
        name="name"
        id="username"
        placeholder="Role-Name"
        required
      />
      <label class="mt-5" for="Permission"
        >Role-Permissions<span class="star-required">*</span></label
      >
      <div class="my-3">
        <input class="same" type="checkbox" id="Read" name="Read" value="1" />
        <label class="che my-2" for="vehicle1"> Read </label><br />
        <input
          class="same"
          type="checkbox"
          id="Create"
          name="Create"
          value="2"
        />
        <label class="che my-2" for="vehicle1"> Create </label><br />
        <input
          class="same"
          type="checkbox"
          id="Update"
          name="Update"
          value="3"
        />
        <label class="che my-2" for="vehicle2"> Update</label><br />
        <input
          class="same"
          type="checkbox"
          id="Delete"
          name="Delete"
          value="4"
        />
        <label class="che my-2" for="vehicle3"> Delete</label><br /><br />
      </div>
      <br />

      <input class="my-3" type="submit" value="Add-Role" id="submit" />

      <p class="info">&copy;2023 Jigar Joshi All rights reserved.</p>
    </form>
  </div>
</body>
<script>
  async function submitForm(e, form) {
    e.preventDefault();

    var checkedValue = [];
    var inputElements = document.getElementsByClassName('same');
    for (var i = 0; inputElements[i]; ++i) {
      if (inputElements[i].checked) {
        checkedValue.push(Number(inputElements[i].value));
      }
    }

    const submitForm = await fetch(`/dashboard/createRole`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        name: form.name.value,
        permissions: checkedValue,
      }),
    });
    const results = await submitForm.json();
    console.log(results);
    if (results.status == 200) {
      const Toast2 = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,

        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        },
      });
      location.assign('/dashboard/listUsers');

      Toast2.fire({
        icon: 'success',
        title: `${results.message} `,
      });
    } else {
      const Toast2 = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,

        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        },
      });
      location.assign('/dashboard/listUsers');

      Toast2.fire({
        icon: 'error',
        title: `Failed to Add Role `,
      });
    }
  }
</script>
