<div class="align-center">
    <form class="form-horizontal" onsubmit="return submitForm(event, this)">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_name">Product Name</label>
                <div class="col-md-4">
                    <input id="product_name" name="product_name" placeholder="Product Name"
                        class="form-control input-md my-4" required="" type="text" required
                        value="${allUserRecord[0].name}">

                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_category">Product Category</label>
                <div class="col-md-4 my-4">
                    <select id="product_categorie" name="product_categorie" class="form-control">
                        <option value="${allUserRecord[0].categoryName}" selected disabled>Select Category</option>
                        ${allCategoryRecord.map((data) => {
                        return `<option value=${data.name}>${data.name}</option>`
                        }).join(",")}

                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="available_quantity">Available Quantity</label>
                <div class="col-md-4 my-4">
                    <input id="available_quantity" name="available_quantity" placeholder="Available Quantity"
                        class="form-control input-md" required type="number" value="${allUserRecord[0].Quantity}">

                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_price">Product Price</label>
                    <div class="col-md-4 my-4">
                        <input id="product_price" name="product_price" placeholder="Price" class="form-control input-md"
                            required type="number" value="${allUserRecord[0].price}">

                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_description">Product Description</label>
                    <div class="col-md-4 my-4">
                        <input id="product_description" name="product_description" placeholder=""
                            class="form-control input-md" required type="text" value="${allUserRecord[0].description}">

                    </div>
                    <!-- File Button -->
                    <div class="form-group">

                        <div class="col-md-4 my-4">
                            <input required id="filebutton" name="filebutton" class="input-file" type="file">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 my-4">
                            <input class='bg-success p-2 rounded-pill text-light' type="submit" value="Add Product"
                                id="submit">
                        </div>
                    </div>

        </fieldset>
    </form>
</div>